
<div class="lyrics-block section grid-container">
  <div id="lyrics" class="callout">
  
  <h2>Lyrics</h2>
  <div class="grid-x grid-margin-x">
    <div class="cell medium-3">
      <ul class="lyrics-tabs vertical tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">I Know My Love</a></li>
        <li class="tabs-title"><a href="#panel2v">Song 2</a></li>
        <li class="tabs-title"><a href="#panel3v">Song 3</a></li>
        <li class="tabs-title"><a href="#panel4v">Song 4</a></li>
        <li class="tabs-title"><a href="#panel5v">Song 5</a></li>
        <li class="tabs-title"><a href="#panel6v">Song 6</a></li>
      </ul>
    </div>
    <div class="cell medium-9">
      <div class="lyrics-content tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1v">
          {{> song_01 }}
        </div>
        <div class="tabs-panel" id="panel2v">
          {{> song_02 }}
        </div>
        <div class="tabs-panel" id="panel3v">
          {{> song_03 }}
        </div>
        <div class="tabs-panel" id="panel4v">
          {{> song_04 }}
        </div>
        <div class="tabs-panel" id="panel5v">
          {{> song_05 }}
        </div>
        <div class="tabs-panel" id="panel6v">
          {{> song_06 }}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
