<h3 class="song-title">The Old Man</h3>
<p>
He reaches for the harness one more time,
leather like the hands that hold the reigns.
She flicks at imaginary flies,
Waits for him to get them underway.
</p>

<p>
She sees his breath, the words are sweet and low,
a cluck and quiet whisper just for her,
The runners nearly silent on the snow
A dusting on a night so crisp and clear.
</p>

<p>
Chorus
Rhythm as constant as a song,
Where now it’s just the cars belong,
As she pulls this old man home to the Glen
</p>

<p>
’said leave her in the barn, she’s getting old
Her coat of shining white, has turned to grey.
He tugs on his collar, ice is in his bones,
Joints afire, he slumps down in the sleigh.
</p>

<p>
She’s made the trip, a thousand times before,
The Lucky Dollar, there and back again.
Turns to him beneath his cote a mhor,
Picks up the pace a bit against the wind.
</p>

<p>
Chorus   BREAK
</p>

<p>
There’s no light in the window by the sleigh,
She longs for the barn, out of the cold.
Silence from behind her, as morning turns to grey.
One last time the old mare took him home.
</p>

<p>
Chorus
Rhythm as constant as a song.
Where now it’s just the cars belong,
She’s taken her old man home to the Glen
</p>



