<h3 class="song-title">I Know My Love</h3>
<p>
I know my love by her deep brown hair,
In silver frost adorned.
I know my love by her skin so fair,
And waist so slender formed
</p>

<p>
I’ll know my love by his eyes so blue
That sparkle when I’m near near
I’ll know my love by his voice so soft,
That sings to me so clear.
</p>


Chorus
<p>
I know my love / does my love know me
But time’s a fickle foe
For lovers we can’t be,
Though I know my love is you,
If I knew your love was me.
</p>

<p>
I know my love by her smile so sweet,
That sets the world aglow.
I’ll know my love by his foot so fleet,
swinging as we go.
</p>

Chorus
<p>
I know my love / does my love know me
But time’s a fickle foe
For lovers we can’t be,
Though I know my love is you,
If I knew your love was me.
</p>


