.social-footer {
  padding: 1rem;
  background: $dark-gray;
  background: $black;
  .container {
  
    margin: 0 auto;
    width: rem-calc(790);
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .social-footer-icons {
    li:last-of-type {
      margin-right: 0;
    }

    .fas,
    .fab {
      font-size: rem-calc(32);
      color: $white;

      &:hover {
        //color: darken($dark-gray, 25%);
        color: $primary-color;
        transition: color 0.3s ease-in;
      }
    }
  }
  .logo {
    width: 150px; 
  }
}


