//$hero-height: 60vh;
$hero-height: 50vh;

.hero-section {
  background: url('../img/hero-bg.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text h5 {
    margin-top: $global-margin;
    margin-bottom: $global-margin;
    color: $white;
    //text-shadow: 1px 1px 2px $black;
    font-family:$fell !important;
  }
}
.logo {
  width: 300px;
}

