.band-card__image {
  margin: 0 auto;
  border-radius: 50%;
  width: 75%;
}
.name {
text-align: center;}
.lp-info-block.grid-container {
    margin-top: -49px;
}
.lp-text {

  font-size: rem-calc(18);
margin-top: $global-margin*2;
}
.lp-info-block .grid-container {
  padding: 0px;
}
.section {
margin-bottom:$global-margin*4;}
