.lyrics-tabs {
  margin-top: $global-margin;
  a::before {
    content:"> ";
    color:$white;
  }
  a:hover::before {
    color:$black;
  }

  .is-active {

    a::before {
      color:$black;
    }
  }
  border:none;
}
