$topbar-center-logo-bg: $light-gray;;

.topbar-center-logo {
  background: $topbar-center-logo-bg;

  .menu {
    background: $topbar-center-logo-bg;

    a {
      color: $black;
      font-family: $fell-caps;
      font-size: rem-calc(22);
      &:hover {
     //border-bottom: 4px solid #8C2005; 
     color: #8C2005;
      }
    }
  }
}

.topbar-center-logo .top-bar-center {
  flex: 1 0 auto;

  @include breakpoint(small only) {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: $topbar-center-logo-bg;

  .menu-icon {
    vertical-align: text-top;
  }
}


