<div class="section lp-info-block grid-container">

  <div class="callout">

    <div class="grid-x grid-padding-x grid-container">
      <div class="card medium-4 band-card" >
        <div class="align-center card-divider">
          <h4 class="name">Keith Mullen</h4>
        </div>
        <img class="band-card__image" src="{{root}}assets/img/km.jpg">
      </div>

      <div class="card medium-4 band-card" >
        <div class="align-center card-divider">
          <h4 class="name">Mary-Ellen Hurley</h4>
        </div>
        <img class="band-card__image"src="{{root}}assets/img/me.jpg">
      </div>

      <div class="card medium-4 band-card" >
        <div class="align-center card-divider">
          <h4 class="name">Rob Drew</h4>
        </div>
        <img class="band-card__image"src="{{root}}assets/img/rd.jpg">
      </div>
    </div>
    <div class="lp-text">
      <h2>Black is the Color</h2>
      <p>
      Founded in 2018, this brand new vocal group is focused on performing original and traditional songs from the Canadian Maritimes, in both traditional and styles.
      </p>



      <p>
      The group was created to perform songs and ballads otherwise overlooked by traditional pub musicians. Connoisseurs of traditional music, Black is the Colour has painstakingly written or selected every song on the playlist based on merit, (not popularity!). This is the music that musicians listen to, nary a Black Velvet Band to be seen!
      </p>

    </div>
  </div>
</div>
